* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button,
header,
aside,
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: #fdf6f0;
  margin: 0;
  padding: 0.3em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 5%;
  margin: 3px 3px;
  border: 5px;
  border-style: dotted;
  border-color: #ffeaa3;
  background-color: #d47b39;
}

nav {
  cursor: pointer;
}

.nav_link {
  list-style-type: none;
}

.nav_link li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav_link li a {
  transition: all 0.3s ease 0s;
  color: rgb(90, 21, 16);
}

.nav_link li a:link {
  text-decoration: none;
}

.nav_link li a:visited {
  text-decoration: none;
}

.nav_link li a:hover {
  color: antiquewhite;
  text-decoration: none;
}

.nav_link li a:active {
  text-decoration: underline;
}

button {
  padding: 9px 25px;
  background-color: rgb(250, 235, 215, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgb(250, 235, 215, 0.8);
}

.grid {
  background-color: hsl(56, 39%, 79%);
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-areas: 
  'header header header header header header' 
  'left left right right right right' 
  'footer footer footer footer footer footer';
  align-content: center;
  justify-content: space-between;
  box-sizing: content-box;
}

#left {
  max-width: 900px;
  margin: 0 auto;
  padding: 5px;
  height: 200px;
}

#left div {
  background-color: antiquewhite;
  padding: 30px;
}

#left div:nth-child(even) {
  background-color: #ffeaa3; */
}

.subtitle {
  text-align: center;
  background-color: antiquewhite;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
}

.subtitle h4 {
  padding: 20px;
  margin: 10px;
  text-wrap: wrap;
}

#right {
  background-color: #fdf6f0;
  text-align: center;
  display: block;
  align-content: center;
}

#about {
  display: grid;
  height: 200px;
  text-align: center;
}

.images {
  display: block;
  opacity: 75%;
}

#img1 {
  max-height: max-content;
  min-width: 800px;
}

#img2, #img3 {
  max-height: 200px;
  max-width: fit-content;
}

footer h2 {
  text-align: start;
}

footer {
  width: 100%;
  text-align: center;
}

.aboutme img {
  display: grid;
  place-content: center;
}