.header {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  justify-content: flex-start;
  align-items: center;
  padding: 1%;
  margin: 3px 3px;
  border: 2px;
  border-color: #FFEAA3;
  background-color: #D47B39;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.subtitle {
  display: block;
  text-align: center;
  background-color: red;
}

.grid {
  background-color: lightgrey;
  padding: 1em;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
}

.aside {
  display: grid;
  
}

.main {
  background-color: #070f2b;
  text-align: center;
}

.images {
  border-radius: 3px;
}
